<!DOCTYPE html>
<html>
<head>
  <title>Federated Wiki: Sign-on</title>
  <link id='favicon' href='/favicon.png' rel='icon' type='image/png'>
  <link rel="stylesheet" href="/security/style.css">
  <script language='javascript' type='text/javascript'>
    if (window.opener.isClaimed == false)
      window.opener.plugins.security.claim_wiki()
    else
      window.opener.plugins.security.update_footer(window.opener.ownerName, true)
    window.close()
  </script>

</head>
<body>
  <header>
    <img src="/favicon.png">
    {{title}}
  </header>
  <div>
    {{{authMessage}}}
  </div>
</body>
</html>
