<!DOCTYPE html>
<html>
<head>
  <title>Federated Wiki: Sign-on</title>
  <link id='favicon' href='/favicon.png' rel='icon' type='image/png'>
  <link rel="stylesheet" href="/security/style.css">

</head>
<body>
  <header>
    <img src="/favicon.png">
    {{title}}
  </header>
  <div>
    {{{authMessage}}}
  </div>
</body>
<script src="/security/winchan.js"></script>
<script>

document.cookie = "state=loggedIn" + ";domain=." + window.location.hostname + "; path=/; max-age=60;"
var wc = WinChan.onOpen(function(origin, r, cb) {
  cb({
    done: true,
    timestamp: new Date().toString()
  });
  window.close();
})
</script>
</html>
